{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Trades</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Crypto Trader!</h1>
        <p>Lets trade some Crypto!</p>
        <nav>
            <div class="nav-container">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
                <ul>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <h4>All Rights Reserved, &copy; 2019 Cat Collector</h4>
    </footer>
</body>
</html>