body {
    margin: 0;
}

.cryptos-container {
    border: solid;
    padding: 1rem;
    margin: 1rem;
}

header {
    text-align: center;
    background-color: darkblue;
    padding: 1rem;
    color: white;

}

main {
    text-align: center;
}

footer {
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

a {
    color: white;
}